body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body div{
    background-color: white;
}
ul.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    width: 100%;
    position: sticky;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(84, 84, 84);
    color: white;
    text-align: center;
}
ul.nav li{
    float: left;
}
li a{
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    color: gray
}
li a:hover:not(.active){
    color: white;
    background-color: crimson;
}
table{
    width: 100%;
}
table.progress{
    text-align: center;
    border-color: black;
    border-collapse: collapse;
    width: 70%;
}
th{
    border-style: none;
    background-color: rgb(218, 217, 217);
}
td{
    width: 20%;
}
.active{
    color: whitesmoke;
    background-color: royalblue;
}
.active:hover{
    color: whitesmoke;
    background-color: royalblue;
}
#ecsulogo{
    width: 15%
}
table #github_icon{
    width: 15%;
}
ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}
ul.icons li {
    display: inline-block;
    line-height: 1em;
    padding-left: 1.5em;
}
ul.icons li:first-child {
    padding-left: 0;
}
ul.icons li a, ul.icons li span {
    font-size: 2em;
    border: 0;
}
div.contact_form{
    margin: 4%;
    background-color: aqua;
    padding: 300px;
}input.name{
    font-size: 1.2vw;
    width: 50%;
    height: 30px;
    margin-bottom: 2%;
    border-radius: 5px;
}
.message_text{
    font-size: 1vw;
    height: 200px;
    width: 50%;
}
label#contact{
    font-size: 2.5vw;
}
.formbody{
    margin-top: 5%;
}
#contact_button{
    width: 10%;
    font-size: 1.5vw;
}