body{
    margin: 0;
    /*background-image: url("banner14.jpg")*/
}
body div{
    background-color: white;
}
ul.nav{
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    width: 100%;
    position: sticky;
}
.footer {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(160, 159, 159);
    color: white;
    text-align: center;
}
li{
    float: left;
}
li a{
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    color: gray
}

li a:hover:not(.active){
    /*background-color: rgb(155, 73, 238);*/
    color: white
}
table{
    width: 100%;
}
table.progress{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-color: black;
    border-collapse: collapse;
    width: 70%;
}
th{
    border-style: none;
    background-color: rgb(218, 217, 217);
}
td{
    width: 20%;
}
.active{
    color: whitesmoke;
    background-color: royalblue;
}
.active:hover{
    color: whitesmoke;
    background-color: royalblue;
}
#ecsulogo{
    width: 15%
}
table #github_icon{
    width: 15%;
}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

    ul.icons li {
        display: inline-block;
        line-height: 1em;
        padding-left: 1.5em;
    }

        ul.icons li:first-child {
            padding-left: 0;
        }

        ul.icons li a, ul.icons li span {
            font-size: 2em;
            border: 0;
        }